In [2]:
import pandas as pd
import numpy as np

In [4]:
raw_gdp = pd.read_csv(r'D:\Canadian Business Analysis Project\data\3610044901-eng.csv', skiprows=11)

In [5]:
raw_gdp = raw_gdp.replace("..", np.nan)

In [6]:
raw_gdp = raw_gdp.dropna(axis=1, how='all')

In [7]:
raw_gdp.head()

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
0,NaN,Dollars,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All industries [T001] 5,"2,180,563","2,203,812","2,220,933","2,220,068","2,243,529","2,250,113","2,251,327","2,256,559","2,272,242","2,289,577","2,302,487","2,315,470","2,324,643","2,318,577","2,330,397"
2,Goods-producing industries [T002] 5,"574,234","580,949","585,597","577,445","580,675","580,405","577,838","579,298","577,026","582,404","583,766","587,300","592,067","584,714","591,909"
3,Services-producing industries [T003] 5,"1,607,533","1,623,639","1,635,846","1,644,899","1,665,855","1,673,444","1,678,166","1,682,143","1,701,728","1,713,184","1,725,001","1,734,271","1,738,133","1,741,143","1,744,896"
4,Business sector industries [T004],"1,775,653","1,795,049","1,808,896","1,803,695","1,823,605","1,829,551","1,827,986","1,837,074","1,844,386","1,855,793","1,864,297","1,876,693","1,884,381","1,877,041","1,889,631"

In [10]:
raw_gdp.tail(15)

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
28,"Arts, entertainment and recreation [71]","14,691","16,829","17,445","17,875","18,312","18,331","18,673","18,545","18,695","18,837","18,957","19,043","18,994","19,262","19,156"
29,Accommodation and food services [72],"42,114","47,986","50,268","50,680","51,635","50,375","49,509","50,369","50,941","51,011","50,720","51,107","51,689","52,010","51,914"
30,Other services (except public administration) ...,"41,663","42,697","43,491","43,889","44,504","44,915","44,844","44,914","44,974","44,940","44,974","44,764","44,740","44,561","44,343"
31,Public administration [91],"156,117","157,012","157,999","159,620","160,825","160,423","161,969","162,596","163,917","164,921","166,872","166,493","167,076","168,417","167,470"
32,Table Corrections:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Date,Note,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,2018-08-31,"On September 4, 2018, the data in the quarterl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Footnotes:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1,Aggregates are not always equal to the sum of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2,"At the lowest level of detail, it may not be p...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,3,"With November 28, 2025 release, the monthly gr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,4,"Effective November 30, 2023, the data is prese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,5,The alphanumeric code represents an aggregatio...,Industry code concordance (opens new window)<...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,How to cite: Statistics Canada. Table 36-10-04...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
naics_col = "North American Industry Classification System (NAICS) 3"
quarter_cols = [c for c in raw_gdp.columns if str(c).strip().startswith("Q")] # Get all quarter columns

In [ ]:
raw_gdp_clean = raw_gdp.dropna(subset=quarter_cols, how="all").copy() # Drop rows where all quarter columns are NaN

In [30]:
raw_gdp_clean.tail(5)

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
27,Health care and social assistance [62],"169,673","171,320","173,194","174,949","176,105","176,927","177,741","178,715","181,691","183,814","185,830","186,953","187,320","188,411","189,390"
28,"Arts, entertainment and recreation [71]","14,691","16,829","17,445","17,875","18,312","18,331","18,673","18,545","18,695","18,837","18,957","19,043","18,994","19,262","19,156"
29,Accommodation and food services [72],"42,114","47,986","50,268","50,680","51,635","50,375","49,509","50,369","50,941","51,011","50,720","51,107","51,689","52,010","51,914"
30,Other services (except public administration) ...,"41,663","42,697","43,491","43,889","44,504","44,915","44,844","44,914","44,974","44,940","44,974","44,764","44,740","44,561","44,343"
31,Public administration [91],"156,117","157,012","157,999","159,620","160,825","160,423","161,969","162,596","163,917","164,921","166,872","166,493","167,076","168,417","167,470"

In [17]:
raw_gdp_clean.tail(15)

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
23,"Professional, scientific and technical service...","153,050","155,561","158,890","160,838","163,691","165,452","164,972","165,317","166,868","168,233","169,223","169,620","168,854","168,558","168,304"
24,Management of companies and enterprises [55],"2,162","1,909","1,728","1,589","1,500","1,380","1,261","1,150","1,072",987,907,822,770,731,690
25,"Administrative and support, waste management a...","58,848","59,582","60,453","60,753","61,243","61,477","61,092","61,072","61,305","61,114","60,826","61,011","61,286","60,912","60,805"
26,Educational services [61],"116,984","118,325","119,150","119,861","121,226","121,646","122,686","117,290","122,580","125,454","126,137","126,004","126,732","126,701","126,342"
27,Health care and social assistance [62],"169,673","171,320","173,194","174,949","176,105","176,927","177,741","178,715","181,691","183,814","185,830","186,953","187,320","188,411","189,390"
28,"Arts, entertainment and recreation [71]","14,691","16,829","17,445","17,875","18,312","18,331","18,673","18,545","18,695","18,837","18,957","19,043","18,994","19,262","19,156"
29,Accommodation and food services [72],"42,114","47,986","50,268","50,680","51,635","50,375","49,509","50,369","50,941","51,011","50,720","51,107","51,689","52,010","51,914"
30,Other services (except public administration) ...,"41,663","42,697","43,491","43,889","44,504","44,915","44,844","44,914","44,974","44,940","44,974","44,764","44,740","44,561","44,343"
31,Public administration [91],"156,117","157,012","157,999","159,620","160,825","160,423","161,969","162,596","163,917","164,921","166,872","166,493","167,076","168,417","167,470"
34,2018-08-31,"On September 4, 2018, the data in the quarterl...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,1,Aggregates are not always equal to the sum of ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,2,"At the lowest level of detail, it may not be p...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,3,"With November 28, 2025 release, the monthly gr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,4,"Effective November 30, 2023, the data is prese...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,5,The alphanumeric code represents an aggregatio...,Industry code concordance (opens new window)<...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
gdp_num = raw_gdp.copy()

for c in quarter_cols:
    gdp_num[c] = (
        gdp_num[c]
        .astype(str)
        .str.replace(",", "", regex=False)  # remove thousands separator from numbers under Quarter columns
    )
    gdp_num[c] = pd.to_numeric(gdp_num[c], errors="coerce")

In [27]:
min_numeric_quarters = 2
mask = gdp_num[quarter_cols].notna().sum(axis=1) >= min_numeric_quarters # At least 2 numeric quarter values
raw_gdp_clean = raw_gdp.loc[mask].copy() # Keep only rows that meet the criteria

In [29]:
raw_gdp_clean.tail(5)

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
27,Health care and social assistance [62],"169,673","171,320","173,194","174,949","176,105","176,927","177,741","178,715","181,691","183,814","185,830","186,953","187,320","188,411","189,390"
28,"Arts, entertainment and recreation [71]","14,691","16,829","17,445","17,875","18,312","18,331","18,673","18,545","18,695","18,837","18,957","19,043","18,994","19,262","19,156"
29,Accommodation and food services [72],"42,114","47,986","50,268","50,680","51,635","50,375","49,509","50,369","50,941","51,011","50,720","51,107","51,689","52,010","51,914"
30,Other services (except public administration) ...,"41,663","42,697","43,491","43,889","44,504","44,915","44,844","44,914","44,974","44,940","44,974","44,764","44,740","44,561","44,343"
31,Public administration [91],"156,117","157,012","157,999","159,620","160,825","160,423","161,969","162,596","163,917","164,921","166,872","166,493","167,076","168,417","167,470"

In [31]:
raw_gdp_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 1 to 31
Data columns (total 16 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   North American Industry Classification System (NAICS) 3  31 non-null     object
 1   Q1 2022                                                  31 non-null     object
 2   Q2 2022                                                  31 non-null     object
 3   Q3 2022                                                  31 non-null     object
 4   Q4 2022                                                  31 non-null     object
 5   Q1 2023                                                  31 non-null     object
 6   Q2 2023                                                  31 non-null     object
 7   Q3 2023                                                  31 non-null     object
 8   Q4 2023                                                  31 non-null     object
 9   Q1 2024                                                  31 non-null     object
 10  Q2 2024                                                  31 non-null     object
 11  Q3 2024                                                  31 non-null     object
 12  Q4 2024                                                  31 non-null     object
 13  Q1 2025                                                  31 non-null     object
 14  Q2 2025                                                  31 non-null     object
 15  Q3 2025                                                  31 non-null     object
dtypes: object(16)
memory usage: 4.1+ KB

In [34]:
raw_gdp_clean.describe()

,North American Industry Classification System (NAICS) 3,Q1 2022,Q2 2022,Q3 2022,Q4 2022,Q1 2023,Q2 2023,Q3 2023,Q4 2023,Q1 2024,Q2 2024,Q3 2024,Q4 2024,Q1 2025,Q2 2025,Q3 2025
count,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
unique,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
top,All industries [T001] 5,"2,180,563","2,203,812","2,220,933","2,220,068","2,243,529","2,250,113","2,251,327","2,256,559","2,272,242","2,289,577","2,302,487","2,315,470","2,324,643","2,318,577","2,330,397"
freq,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [59]:
gdp_long = raw_gdp_clean.melt(   # Convert from wide to long format
    id_vars=[naics_col], # Keep NAICS column as identifier
    var_name="quarter",  # Name for the new 'variable' column
    value_name="gdp" # Name for the new 'value' column
)

In [60]:
gdp_long

,North American Industry Classification System (NAICS) 3,quarter,gdp
0,All industries [T001] 5,Q1 2022,"2,180,563"
1,Goods-producing industries [T002] 5,Q1 2022,"574,234"
2,Services-producing industries [T003] 5,Q1 2022,"1,607,533"
3,Business sector industries [T004],Q1 2022,"1,775,653"
4,Non-business sector industries [T007],Q1 2022,"404,641"
...,...,...,...
460,Health care and social assistance [62],Q3 2025,"189,390"
461,"Arts, entertainment and recreation [71]",Q3 2025,"19,156"
462,Accommodation and food services [72],Q3 2025,"51,914"
463,Other services (except public administration) ...,Q3 2025,"44,343"
464,Public administration [91],Q3 2025,"167,470"

In [61]:
gdp_long["year"] = gdp_long["quarter"].str[-4:].astype(int)

In [62]:
gdp_long["quarter_num"] = (
    gdp_long["quarter"]
    .str.extract(r"Q([1-4])") # Extract quarter number using regex
    .astype(int)
)

In [63]:
gdp_long = gdp_long.drop(columns=["quarter"])

In [64]:
gdp_long.head()

,North American Industry Classification System (NAICS) 3,gdp,year,quarter_num
0,All industries [T001] 5,"2,180,563",2022,1
1,Goods-producing industries [T002] 5,"574,234",2022,1
2,Services-producing industries [T003] 5,"1,607,533",2022,1
3,Business sector industries [T004],"1,775,653",2022,1
4,Non-business sector industries [T007],"404,641",2022,1

In [65]:
gdp_long = gdp_long.rename(columns={naics_col: "industry"})

In [66]:
gdp_long.head()

                                  industry        gdp  year  quarter_num
0                 All industries  [T001] 5  2,180,563  2022            1
1     Goods-producing industries  [T002] 5    574,234  2022            1
2  Services-producing industries  [T003] 5  1,607,533  2022            1
3       Business sector industries  [T004]  1,775,653  2022            1
4   Non-business sector industries  [T007]    404,641  2022            1

In [ ]:
gdp_long = gdp_long.sort_values(by=["industry", "year", "quarter_num"]).reset_index(drop=True)

In [68]:
gdp_long["gdp"] = (
    gdp_long["gdp"]
    .astype(str)
    .str.replace(",", "", regex=False)
)

In [69]:
gdp_long["gdp"] = pd.to_numeric(gdp_long["gdp"], errors="coerce") # Ensure 'gdp' column is numeric

In [74]:
gdp_long["gdp_qoq_growth"] = gdp_long.groupby("industry")["gdp"].pct_change() # Calculate quarter-over-quarter GDP growth per industry

In [75]:
gdp_long.head(10)

,industry,gdp,year,quarter_num,gdp_qoq_growth
0,Accommodation and food services [72],42114,2022,1,NaN
1,Accommodation and food services [72],47986,2022,2,0.139431
2,Accommodation and food services [72],50268,2022,3,0.047556
3,Accommodation and food services [72],50680,2022,4,0.008196
4,Accommodation and food services [72],51635,2023,1,0.018844
5,Accommodation and food services [72],50375,2023,2,-0.024402
6,Accommodation and food services [72],49509,2023,3,-0.017191
7,Accommodation and food services [72],50369,2023,4,0.017371
8,Accommodation and food services [72],50941,2024,1,0.011356
9,Accommodation and food services [72],51011,2024,2,0.001374

In [76]:
gdp_long["gdp_volatility_4q"] = (
    gdp_long
    .groupby("industry")["gdp_qoq_growth"]
    .rolling(4) # 4-quarter rolling standard deviation
    .std() # Calculate standard deviation
    .reset_index(level=0, drop=True) # Drop the grouping index
)

In [78]:
gdp_long.head(15)

,industry,gdp,year,quarter_num,gdp_qoq_growth,gdp_volatility_4q
0,Accommodation and food services [72],42114,2022,1,NaN,NaN
1,Accommodation and food services [72],47986,2022,2,0.139431,NaN
2,Accommodation and food services [72],50268,2022,3,0.047556,NaN
3,Accommodation and food services [72],50680,2022,4,0.008196,NaN
4,Accommodation and food services [72],51635,2023,1,0.018844,0.059646
5,Accommodation and food services [72],50375,2023,2,-0.024402,0.029718
6,Accommodation and food services [72],49509,2023,3,-0.017191,0.020496
7,Accommodation and food services [72],50369,2023,4,0.017371,0.022661
8,Accommodation and food services [72],50941,2024,1,0.011356,0.020658
9,Accommodation and food services [72],51011,2024,2,0.001374,0.015127
10,Accommodation and food services [72],50720,2024,3,-0.005705,0.010269
11,Accommodation and food services [72],51107,2024,4,0.007630,0.007481
12,Accommodation and food services [72],51689,2025,1,0.011388,0.007492
13,Accommodation and food services [72],52010,2025,2,0.006210,0.007387
14,Accommodation and food services [72],51914,2025,3,-0.001846,0.005574

In [79]:
gdp_long.to_csv(r'D:\Canadian Business Analysis Project\data\processed_gdp_data.csv', index=False)

In [80]:
cpi_raw = pd.read_csv(r'D:\Canadian Business Analysis Project\data\1810000401-eng.csv', skiprows=9)

In [81]:
cpi_raw.head()

,Products and product groups 3 4,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,...,February 2025,March 2025,April 2025,May 2025,June 2025,July 2025,August 2025,September 2025,October 2025,November 2025
0,NaN,2002=100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All-items,145.3,146.8,148.9,149.8,151.9,152.9,153.1,152.6,152.7,...,163.0,163.5,163.4,164.3,164.4,164.9,164.8,164.9,165.3,165.4
2,Food 5,163.9,166.0,167.5,169.0,170.4,170.6,172.1,173.5,174.8,...,190.5,193.8,194.5,195.4,195.6,196.8,196.8,197.5,196.9,199.5
3,Shelter 6,157.6,158.6,160.2,161.9,163.0,163.6,164.2,164.1,164.9,...,186.7,187.0,186.9,186.9,187.3,187.9,188.0,188.2,189.4,189.6
4,"Household operations, furnishings and equipment",126.7,127.6,129.1,129.8,131.5,131.8,131.9,132.2,132.7,...,131.7,131.3,132.4,133.1,132.9,133.5,133.9,134.1,135.0,134.3

In [83]:
cpi_raw = cpi_raw.replace("..", np.nan)

In [84]:
cpi_raw = cpi_raw.dropna(axis=1, how='all')

In [88]:
cpi_raw = cpi_raw.drop(0, axis=0)

In [89]:
product_col = "Products and product groups 3 4"  

cpi_all = cpi_raw[cpi_raw[product_col].str.contains("All-items", case=False)].copy() # Keep only 'All-items' rows

In [91]:
cpi_all = cpi_all.drop([11, 12], axis=0)

In [92]:
cpi_all

,Products and product groups 3 4,January 2022,February 2022,March 2022,April 2022,May 2022,June 2022,July 2022,August 2022,September 2022,...,February 2025,March 2025,April 2025,May 2025,June 2025,July 2025,August 2025,September 2025,October 2025,November 2025
1,All-items,145.3,146.8,148.9,149.8,151.9,152.9,153.1,152.6,152.7,...,163.0,163.5,163.4,164.3,164.4,164.9,164.8,164.9,165.3,165.4